*.exe
*.pdb
*.txt
*.Cache
*.cache
Connect/Connect/obj/Debug/Connect.csproj.FileListAbsolute.txt
Connect/Connect/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Connect/Connect/obj/Debug/Connect.csproj.GenerateResource.Cache
Connect/Connect/bin/Debug/Connect.pdb